.hover-border-animate{
  color: rgb(0, 0, 0, 0.7);
  position: relative;
  transition: color 0.3s ease-in;

  &[href="#"]{
    color: var(--primary-color);

    &:not(:hover):not(:active)::after{
      width: 95%;
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 1.5px;
    bottom: -5px;
    left: 50%;
    translate: -50% 0;
    background-color: var(--primary-color);
    transition: width 0.3s linear(0, 0.5 50%, 1);
  }

  &:hover,
  &:focus{
    color: var(--primary-color);

    &::after {
      width: 100%;
    }
  }
}